{:db {:dbtype "postgresql"
      :classname "org.postgresql.Driver"
      :dbname "covid19_dev"
      :host "localhost"
      :port 5433
      :user "covid19_user"
      :password "covid19_password"}
 }